body {
    background-color: rgb(36, 13, 13)
}
h1 {
    text-align: center;
    margin-top:150px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color:white
}
div {
    width: 50%;
    border:2px solid #000;
    text-align: center;
    margin:50px auto 0 auto;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(221, 99, 62, 0.603);
}
div p {
    font-size:2.5rem;
    font-weight: bold;
    color:white
}
div p span {
    font-weight: bold;
    color:red;
    font-size: 3.8rem
}